<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Notes
    </ion-title>
    <!-- <ion-button slot = "end" routerLink = "/tab3">Detail</ion-button> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-list>
    <ion-item *ngFor="let data of isiData | async, let i = index">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{data.judul}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <p>{{data.isi}}</p>
          <ion-img [src]= isiFoto.webviewPath></ion-img>
        </ion-card-content>
        <ion-button (click)="Det(i)">Detail</ion-button>
      </ion-card>
    </ion-item>
  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col size = "6" *ngFor="let isiFoto of fotoService.dataFoto; let i = index"> 
      <ion-img [src]= isiFoto.webviewPath></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  
</ion-content>
